In [26]:
import pandas as pd
data = pd.read_csv('prostate.txt')
data

,lcavol,lweight,age,lbph,svi,lcp,gleason,pgg45,lpsa,train
0,-0.579818,2.769459,50,-1.386294,0,-1.386294,6,0,-0.430783,True
1,-0.994252,3.319626,58,-1.386294,0,-1.386294,6,0,-0.162519,True
2,-0.510826,2.691243,74,-1.386294,0,-1.386294,7,20,-0.162519,True
3,-1.203973,3.282789,58,-1.386294,0,-1.386294,6,0,-0.162519,True
4,0.751416,3.432373,62,-1.386294,0,-1.386294,6,0,0.371564,True
...,...,...,...,...,...,...,...,...,...,...
92,2.830268,3.876396,68,-1.386294,1,1.321756,7,60,4.385147,True
93,3.821004,3.896909,44,-1.386294,1,2.169054,7,40,4.684443,True
94,2.907447,3.396185,52,-1.386294,1,2.463853,7,10,5.143124,False
95,2.882564,3.773910,68,1.558145,1,1.558145,7,80,5.477509,True
96,3.471966,3.974998,68,0.438255,1,2.904165,7,20,5.582932,False

In [27]:
from sklearn.model_selection import train_test_split

# Drop 'lpsa' and 'train' columns
X = data.drop(['lpsa', 'train'], axis='columns')

# 'lpsa' is the target variable
y = data['lpsa']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=55)

# Print the shape of the training and testing sets
print(X_train.shape, X_test.shape)
from sklearn.model_selection import train_test_split

# Drop 'lpsa' and 'train' columns
X = data.drop(['lpsa', 'train'], axis='columns')

# 'lpsa' is the target variable
y = data['lpsa']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

print(X_train.shape, X_test.shape)

(67, 8) (30, 8)
(67, 8) (30, 8)

In [28]:
print(data.columns)

Index(['lcavol', 'lweight', 'age', 'lbph', 'svi', 'lcp', 'gleason', 'pgg45',
       'lpsa', 'train'],
      dtype='object')

In [29]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"Mean Absolute Error: {mae}")
print(f"R2 Score: {r2}")

Mean Squared Error: 0.4612959596185869
Mean Absolute Error: 0.5303839811126051
R2 Score: 0.6039185108581977

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=55)
print(X_train.shape, X_test.shape)

(67, 8) (30, 8)

In [1]:
from sklearn.linear_model import Ridge


ridge_model = Ridge(alpha=10)
ridge_model.fit(X_train, y_train)

y_pred = ridge_model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)


print(f"Mean Squared Error: {mse}")
print(f"Mean Absolute Error: {mae}")
print(f"R2 Score: {r2}")

NameError: name 'X_train' is not defined

In [ ]:
data